img {
    width: 400px;
    display: block;
    margin-left: 125%;
    border-radius: 50px;
    padding: 30px;
    padding-left: 10%;
 }
#intro{
  background-color: #FF69B4;
  padding-bottom: 15%;
  
}
.name{
margin-left: 35%;
text-align: right;
}
#about{
  background-color: #fff;
 margin-left: 40%;
 padding-bottom: 10%;
 font-size: large;
}
#contact{
  background-color: #818589;
  padding-bottom: 10%;
  font-size: x-large;
  
}

.social{
  margin-left: 85%;
  
}





